<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>ToDo List</title>
</head>
<body>

<h1>ToDo List</h1>

<form action="/addTask" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
    
    <label for="details">Details:</label>
    <input type="text" id="details" name="details" required>

    <button type="submit">Add</button>
</form>


<ul>
    <li th:each="task : ${tasks}">
        <span th:text="${task.name}"></span>
        <a th:href="@{/deleteTask/{id}(id=${task.id})}">Delete</a>
        <a th:href="@{/taskDetails/{id}(id=${task.id},details=${task.details})}">Details</a>
    </li>
</ul>


</body>
</html>
