<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>ToDo List</title>
</head>
<body>

<h1>ToDo List</h1>

<div style="display: flex; gap: 50px;">
    <p>Total: <span th:text="${totalTasks}"></span></p>
    <p>Completed: <span th:text="${completedTasks}"></span></p>
    <p>In-Progress: <span th:text="${inProgressTasks}"></span></p>
</div>

<form action="/addTask" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="details">Details:</label>
    <input type="text" id="details" name="details">

    <label for="user">User:</label>
    <input type="text" id="user" name="user">

    <label for="priority">Priority:</label>
    <select id="priority" name="priority" required>
        <option value="LOW">Low</option>
        <option value="MEDIUM">Medium</option>
        <option value="HIGH">High</option>
    </select>

    <button type="submit">Add</button>
</form>

<form action="/search" method="get">
    <div><label>Search by:</label></div>
    <label for="userName">User:</label>
    <input type="text" id="userName" name="userName">

    <label for="taskName">Name:</label>
    <input type="text" id="taskName" name="taskName">

    <button type="submit">Search</button>
</form>

<div class="sort-options">
    <label>Sort by:</label>
    <form th:action="@{/tasks}" method="get" style="display: inline;">
        <button type="submit" name="sortBy" value="name">Name</button>
    </form>
    <form th:action="@{/tasks}" method="get" style="display: inline;">
        <button type="submit" name="sortBy" value="user">User</button>
    </form>
    <form th:action="@{/tasks}" method="get" style="display: inline;">
        <button type="submit" name="sortBy" value="priority">Priority</button>
    </form>
</div>


<table border="1">
    <thead>
    <tr>
        <th>Name</th>
        <th>User</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.name}"></td>
        <td th:text="${task.user}"></td>
        <td th:text="${task.priority}"></td>
        <td th:text="${task.status}"></td>
        <td>
            <form th:action="@{/deleteTask/{id}(id=${task.id})}" method="get" style="display: inline;">
                <button type="submit">Delete</button>
            </form>
            <form th:action="@{/taskDetails/{id}(id=${task.id},details=${task.details})}" method="get" style="display: inline;">
                <button type="submit">Details</button>
            </form>
            <form th:action="@{/toggleTaskStatus/{id}(id=${task.id})}" method="post" style="display: inline;">
                <button type="submit" th:text="'Change status'"></button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>